body {
  margin:0;
  padding:0;
}

scroll-verse {
  aspect-ratio: 5.8 / 8.3;
  height: 100vh;
  width: auto;
  border: 1px solid black;
  display: block;
  margin-left:auto;
  margin-right:auto;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  overflow-y: scroll;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}::-webkit-scrollbar {
  display: none;
}

cover-page, s-page {
  height: 100%;
  width: 100%;
  border: 1px solid green;
  display: block;
  scroll-snap-align: start;
  position: relative;
}

scroll-verse .background-img {
  object-fit: cover;
  object-position: left top;
  min-width: 100%;
  min-height: 100%;
  width:auto;
  height: 100%;
  position:absolute;
  left: 0px;
  top:0px;
  z-index: -1;
}